.body {
  background: url("../img/bg.jpg") no-repeat;
  max-width: 1920px;
}

.container {
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0 auto;
  font-family: "Montserrat";
  padding-left: 120px;
}

.leftbar {
  width: 100px;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(233, 233, 233);
    height: 100px;
  }

  &__menu-bar2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
  }
}

.header {
  color: #ffffff;

  &__menu-list {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 17px;
  }

  &__menu-item {
    font-size: 14px;
    font-weight: 400;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
    position: relative;
  }

  &__wrapper-element1 {
    display: flex;
    align-items: center;
  }

  &__wrapper-part1 {
    margin-right: 54px;
  }
  &__part1 {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 7px;
  }
  &__part2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  &__wrapper-element2 {
    position: absolute;
    left: 50%;
    top: -8px;
    margin-left: -100px;
  }

  &__wrapper-part2 {
    margin-right: 31px;
  }

  &__wrapper-element3 {
    display: flex;
    align-items: center;
  }

  &__wrapper-part3 {
    position: relative;
  }

  &__basket-num {
    position: absolute;
    top: -8px;
    right: -7px;
    color: #ffffff;
    font-size: 12px;
    background-color: #e3bf77;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button-top {
    border: 2px solid rgba(227, 191, 119, 1);
    padding: 10px 30px;
    border-radius: 23px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    margin-left: 54px;
  }
}

.slide-one {
  color: #ffffff;
  margin-top: 150px;
  margin-bottom: 205px;

  &__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    margin-bottom: 23px;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 45px;
  }
  &__timework {
    display: flex;
    margin-bottom: 40px;
  }

  &__weekdays {
    margin-right: 40px;
  }
  &__day {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    opacity: 0.5;
  }
  &__time {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  &__booking {
    margin-bottom: 40px;
  }
  &__button1 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    background: #e3bf77;
    border-radius: 63px;
    padding: 16px 30px;
    margin-right: 30px;
  }
  &__button2 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 16px 30px;
  }
  &__buttonslide {
    display: flex;
  }
  &__left {
    border: 2px solid #e3bf77;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  &__right {
    border: 2px solid #e3bf77;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.menu-dwn {
  color: #ffffff;
  &__body {
    display: flex;
    justify-content: space-between;
  }
  &__boxname {
    width: 155px;
    border-bottom: 2px solid #ffffff;
    opacity: 50%;
  }
  :hover {
    opacity: 100%;
  }

  &__desk {
    padding-bottom: 10px;
  }
  &__imgBox {
    margin-bottom: 17px;
  }
}

.dilivery {
  margin-top: 200px;
  max-width: 1920px;
  background-color: #e3bf77;
  color: #ffffff;
  margin-bottom: 100px;
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    padding-top: 140px;
    margin-bottom: 30px;
  }
  &__desk {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  &__button {
    color: #e3bf77;
    background: #ffffff;
    border-radius: 63px;
    padding: 17px 30px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 168px;
  }
}
.footer-top {
  background-color: #2d2d2d;
  color: #ffffff;
  &__body {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }

  &__number1 {
    font-size: 14px;
    line-height: 17px;
  }
  &__number2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
}
